In [ ]:
# Created by Philip Simeon
# Date: 18 September 2023
# SQL ALCHEMY METHOD LOADING DATA FROM SQL DATABASE TO PANDAS DF

In [5]:
import mysql.connector
import pandas as pd

# Create a MySQL connection
sql_engine = mysql.connector.connect(user='root', password='Qwert', host='localhost', port=3306, database='supermarket')
driver = sql_engine.cursor()

# Define and execute a query
query = """
    SELECT "Timestamp", "User_ID", "Application_Type", "Signal_Strength" 
    FROM wifi
    """

row_count = 0  # Initialize row_count to 0

try:
    driver.execute(query)
    table_roll = driver.fetchall()
    df = pd.DataFrame(table_roll)
    row_count = len(table_roll)  # Update row_count to the number of rows fetched
    driver.close()
    sql_engine.commit()
    print(row_count, "rows loaded successfully")

except Exception as e:
    sql_engine.rollback()
    sql_engine.close()
    print("Error:", e)

finally:
    sql_engine.close()
    
df.head()

400 rows loaded successfully

           0        1                 2                3
0  Timestamp  User_ID  Application_Type  Signal_Strength
1  Timestamp  User_ID  Application_Type  Signal_Strength
2  Timestamp  User_ID  Application_Type  Signal_Strength
3  Timestamp  User_ID  Application_Type  Signal_Strength
4  Timestamp  User_ID  Application_Type  Signal_Strength

# DDL & DML Commands on MySQL using Python (Data Manipulation)

In [8]:
import mysql.connector
import pandas as pd

# Create a MySQL connection
sql_engine = mysql.connector.connect(user='root', password='Qwert', host='localhost', port=3306, database='supermarket')
driver = sql_engine.cursor()

# Define and execute an UPDATE query
update_query = """
    UPDATE wifi
    SET Timestamp = '20/03/2022', User_ID = '212', Application_Type = 'casino', Signal_Strength = -50, Latency = 20
    WHERE User_ID = 'user_3'
"""

try:
    driver.execute(update_query)
    sql_engine.commit()
    driver_count = driver.rowcount
    print(driver_count, "document updated successfully")

    # After updating, fetch and display the updated table
    select_query = """
        SELECT * FROM wifi
    """
    driver.execute(select_query)
    updated_table = driver.fetchall()
    df = pd.DataFrame(updated_table, columns=[desc[0] for desc in driver.description])
    print("Updated Table:")
    print(df)

except Exception as e:
    sql_engine.rollback()
    print("Error:", e)

finally:
    sql_engine.close()

1 document updated successfully
Updated Table:
          Timestamp   User_ID   Application_Type Signal_Strength Latency  \
0    9/3/2023 10:00    User_1         Video_Call         -75 dBm   30 ms
1        20/03/2022       212             casino             -50      20
2        20/03/2022       212             casino             -50      20
3    9/3/2023 10:00    User_4  Emergency_Service         -70 dBm   10 ms
4    9/3/2023 10:00    User_5      Online_Gaming         -78 dBm   25 ms
..              ...       ...                ...             ...     ...
395  9/3/2023 10:06  User_396          Streaming        -110 dBm   61 ms
396  9/3/2023 10:06  User_397         Video_Call         -40 dBm   53 ms
397  9/3/2023 10:06  User_398    Video_Streaming        -113 dBm   58 ms
398  9/3/2023 10:06  User_399  Emergency_Service         -40 dBm    5 ms
399  9/3/2023 10:06  User_400       Web_Browsing        -113 dBm    0 ms

    Required_Bandwidth Allocated_Bandwidth Resource_Allocation
0              10 Mbps             15 Mbps                 70%
1             100 Kbps            120 Kbps                 80%
2               5 Mbps              6 Mbps                 75%
3               1 Mbps            1.5 Mbps                 90%
4               2 Mbps              3 Mbps                 85%
..                 ...                 ...                 ...
395           1.3 Mbps            1.8 Mbps                 85%
396          14.5 Mbps           15.8 Mbps                 75%
397           1.0 Mbps            1.4 Mbps                 70%
398           0.4 Mbps            0.4 Mbps                 70%
399           0.1 Mbps            0.1 Mbps                 70%

[400 rows x 8 columns]

In [10]:
import mysql.connector

# Create a MySQL connection
sql_engine = mysql.connector.connect(user='root', password='Qwert', host='localhost', port=3306, database='supermarket')
driver = sql_engine.cursor()

# Define values for the new record
new_timestamp = '21/03/2022'
new_user_id = '213'
new_application_type = 'office'
new_signal_strength = -60
new_latency = 25

# Define and execute an INSERT query
insert_query = f"""
    INSERT INTO wifi (Timestamp, User_ID, Application_Type, Signal_Strength, Latency)
    VALUES ('{new_timestamp}', '{new_user_id}', '{new_application_type}', {new_signal_strength}, {new_latency})
"""

try:
    driver.execute(insert_query)
    sql_engine.commit()
    
    # Get the number of records added
    records_added = driver.rowcount
    print(f"{records_added} record(s) added successfully")

except Exception as e:
    sql_engine.rollback()
    print("Error:", e)

finally:
    sql_engine.close()

1 record(s) added successfully

In [11]:
import mysql.connector

# Create a MySQL connection
sql_engine = mysql.connector.connect(user='root', password='Qwert', host='localhost', port=3306, database='supermarket')
driver = sql_engine.cursor()

# Define a condition for the records you want to delete (e.g., based on User_ID)
user_id_to_delete = '213'

# Define and execute a DELETE query
delete_query = f"""
    DELETE FROM wifi
    WHERE User_ID = '{user_id_to_delete}'
"""

try:
    driver.execute(delete_query)
    sql_engine.commit()
    
    # Get the number of records deleted
    records_deleted = driver.rowcount
    print(f"{records_deleted} record(s) deleted successfully")

except Exception as e:
    sql_engine.rollback()
    print("Error:", e)

finally:
    sql_engine.close()

2 record(s) deleted successfully